include LICENSE
include README.md
graft docs
graft bloggulus/accounts/static
graft bloggulus/accounts/templates
graft bloggulus/core/static
graft bloggulus/core/templates
graft bloggulus/feeds/static
graft bloggulus/feeds/templates
