.privacy {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 1rem;
	color: var(--color-dark);
}

.privacy h1,
.privacy h2,
.privacy h3,
.privacy h4,
.privacy ul,
.privacy li,
.privacy p {
	margin-bottom: 1rem;
}

.privacy h1,
.privacy h2,
.privacy h3,
.privacy h4 {
	font-weight: 700;
}

.privacy h1 {
	font-size: 2.25rem;
}

.privacy h2 {
	font-size: 2rem;
}

.privacy h3 {
	font-size: 1.5rem;
}

.privacy h4 {
	font-size: 1.25rem;
}

.privacy ul {
	margin-left: 2rem;
	list-style-type: disc;
}

.privacy li {
	line-height: 1.5rem;
}

.privacy p {
	line-height: 1.5rem;
}

.privacy a,
.privacy a:visited {
	color: var(--color-dark);
}
