:root {
	--color-white: white;
	--color-gray: #efefef;
	--color-light: #cfcfcf;
	--color-medium: rgb(75 85 99);
	--color-dark: rgb(31 41 55);
	--background-color: rgb(243, 244, 246);
	--shadow: 0 1px 1px hsl(0deg 0% 0% / 0.3);
	--container-width: 48em;
}

:root {
	/* An em on the root element is relative to the browser’s default. */
	font-size: 1em;
}

html {
	background-color: var(--background-color);
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;
}

main {
	flex-grow: 1;
	flex-basis: 0;
}

svg {
	width: 1.25em;
	height: 1.25em;
}

.input {
	border: none;
	box-shadow: inset 0px 0px 0px 1px var(--color-light);
	border-radius: 0.375em;
	padding: 0.75em 1em;
}

.input--block {
	display: block;
}

.button {
	color: var(--color-white);
	background-color: var(--color-dark);
	padding: 0.75em 1em;
	font-weight: 600;
	border-radius: 0.5em;
	border-width: 0;
	text-decoration: none;
}

.button:hover {
	background-color: var(--color-medium);
	cursor: pointer;
}

.button--outline {
	color: var(--color-dark);
	background-color: var(--color-white);
	box-shadow: var(--shadow);
}

.button--outline:hover {
	background-color: var(--color-gray);
}

.toast {
	background-color: var(--color-dark);
	color: var(--color-white);
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}



.error {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.error__code {
	font-weight: 500;
	color: var(--color-medium);
	margin-bottom: 1em;
}

.error__status {
	font-size: 2rem;
	font-weight: 700;
	color: var(--color-dark);
	margin-bottom: 1.5em;
}

.error__message {
	margin-bottom: 2.5em;
}

.error__link {
	color: var(--color-white);
	background-color: var(--color-dark);
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 0.25em;
	box-shadow: var(--shadow);
}

.error__link:hover {
	background-color: var(--color-medium);
	cursor: pointer;
}



.header {
	background-color: var(--color-white);
	box-shadow: var(--shadow);
}

.header__links {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 1em;
	display: flex;
	align-items: center;
	gap: 1em;
}

.header__link {
	display: inline-block;
	color: var(--color-dark);
	text-decoration: none;
	font-size: 1rem;
	/* Make buttons look like links, if necessary (like for the logout form). */
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

.header__link:hover {
	color: var(--color-medium);
}

.header__link--first {
	margin-right: auto;
}

.header__link--home {
	font-size: 1.5rem;
}



.footer {
	background-color: var(--color-dark);
}

/* On mobile devices, stack and center the footer links. */
.footer__links {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

/* On larger screens, show footer links as a single row with space between. */
@media only screen and (min-width: 768px) {
	.footer__links {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.footer__links li:last-child {
		margin-left: auto;
	}
}

.footer__link {
	color: var(--color-white);
	text-decoration: none;
}

.footer__link:hover {
	color: var(--color-light);
}

.footer__link--big {
	font-size: 1.25rem;
	font-weight: 500;
}

.footer__link--small {
	font-size: 0.75rem;
}



.articles-header {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 1.5em 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.articles-header__title {
	color: var(--color-dark);
	font-size: 24px;
	font-weight: 600;
}

.articles {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.article {
	box-shadow: var(--shadow);
	background-color: var(--color-white);
	text-align: left;
	padding: 1.5em;
	border-radius: 0.5em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.article__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5em;
}

.article__date {
	color: var(--color-medium);
	font-size: 0.875rem;
	font-weight: 300;
}

.article__tags {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.article__tag {
	color: var(--color-white);
	background-color: var(--color-dark);
	font-weight: 600;
	padding: 0.25em 0.75em;
	border-radius: 0.25em;
	text-decoration: none;
}

.article__tag:hover {
	background-color: var(--color-medium);
}

.article__title {
	color: var(--color-dark);
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.2;
	text-decoration: none;
}

.article__title:hover {
	text-decoration: underline;
}

.article__blog-title {
	color: var(--color-dark);
	font-weight: 600;
	text-decoration: none;
}

.article__blog-title:hover {
	text-decoration: underline;
}

.articles-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5em 0.5em;
}

.articles-cta {
	margin-top: 4em;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
}



.signin {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signin__card {
	background-color: var(--color-white);
	padding: 2em;
	box-shadow: var(--shadow);
	border-radius: 0.5em;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

.signin__heading {
	text-align: center;
	font-weight: 500;
}

.signin__button {
	color: var(--color-dark);
	background-color: var(--color-white);
	font-size: 1rem;
	font-weight: 500;

	padding: 1em;
	text-decoration: none;
	border: 1px solid var(--color-dark);
	border-radius: 0.5em;

	display: flex;
	align-items: center;
	gap: 0.5em;
}

.signin__button:hover {
	background-color: var(--color-gray);
	cursor: pointer;
}

.signin__icon {
	max-width: 24px;
	max-height: 24px;
}

.signin__error {
	font-size: 0.75rem;
	color: red;
	margin-top: 0.25em;
}



.blogs, .pages, .accounts {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 1em;
}

.blogs-header, .pages-header, .accounts-header {
	margin-bottom: 1em;
}

.blogs-header__title, .pages-header__title, .accounts-header__title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 0.5em;
}

.blogs-header__input, .pages-header__input {
	width: 70%;
}

.blogs-list, .pages-list, .accounts-list {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.blogs-list__item, .pages-list__item, .accounts-list__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.blogs-list__link, .pages-list__link {
	color: var(--color-dark);
	text-decoration: none;
}

.blogs-list__link:hover, .pages-list__link:hover {
	text-decoration: underline;
}

.blogs-cta {
	margin-top: 4em;
	text-align: center;
}



.blog, .post {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.blog-links__title, .post-links__title {
	font-size: 2rem;
	margin-bottom: 0.5em;
}

.blog-links__list, .post-links__list {
	display: flex;
	gap: 0.5em;
}

.blog-links__link, .post-links__link {
	color: var(--color-dark);
	text-decoration: none;
}

.blog-links__link:hover, .post-links__link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.blog-synced__title, .post-publised__title {
	font-size: 1.5rem;
	margin-bottom: 0.5em;
}

.blog-actions__title, .post-actions__title {
	font-size: 1.5rem;
	margin-bottom: 0.5em;
}

.blog-posts__title {
	font-size: 1.5rem;
	margin-bottom: 0.5em;
}

.blog-posts__list {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.blog-post {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.blog-post__link {
	color: var(--color-dark);
	text-decoration: none;
}

.blog-post__link:hover {
	cursor: pointer;
	text-decoration: underline;
}
