{{define "main"}}

<section class="accounts">
	<header class="accounts-header">
		<h1 class="accounts-header__title">Accounts</h1>
	</header>
	<ul class="accounts-list" id="accounts">
		{{range .Accounts}}
		<li class="accounts-list__item">
			<p>{{.Email}}</p>

			<form method="POST" action="/accounts/{{.ID}}/delete">
				<input type="hidden" name="csrf_token" value="{{$.CSRFToken}}" />
				<button class="button button--outline" type="submit">
					Delete
				</button>
			</form>
		</li>
		{{end}}
	</ul>
</section>

{{end}}
