{{define "main"}}

<section class="blogs">
	<header class="blogs-header">
		<h1 class="blogs-header__title">Blogs</h1>
		<form method="POST" action="/blogs/create" hx-post="/blogs/create" hx-target="#blogs">
			<input
				class="blogs-header__input"
				type="text"
				name="feedURL"
				placeholder="Add Feed"
			/>
			<button class="blogs-header__button" type="submit">
				Add
			</button>
		</form>
	</header>
	{{block "blogs" .}}
	<ul id="blogs">
		{{range .Blogs}}
		<li class="blogs-list__item">
			{{if $.Account.IsAdmin}}
			<a class="blogs-list__link" href="/blogs/{{.ID}}">{{.Title}}</a>
			{{else}}
			<a class="blogs-list__link" href="{{.SiteURL}}">{{.Title}}</a>
			{{end}}

			{{block "blog" .}}
			{{if .IsFollowing}}
			<form method="POST" action="/blogs/unfollow" hx-post="/blogs/unfollow">
				<input type="hidden" name="blogID" value="{{.ID}}" />
				<button class="blogs-list__button" type="submit">
					Unfollow
				</button>
			</form>
			{{else}}
			<form method="POST" action="/blog/follows" hx-post="/blogs/follow">
				<input type="hidden" name="blogID" value="{{.ID}}" />
				<button class="blogs-list__button" type="submit">
					Follow
				</button>
			</form>
			{{end}}
			{{end}}
		</li>
		{{end}}
	</ul>
	{{end}}
</section>

{{end}}
