{{define "main"}}

<section class="blog">
	<article class="blog-links">
		<h1 class="blog-links__title">{{.Title}}</h1>
		<ul class="blog-links__list">
			<li><a class="blog-links__link" href={{.SiteURL}}>(Site URL)</a></li>
			<li><a class="blog-links__link" href={{.FeedURL}}>(Feed URL)</a></li>
		</ul>
	</article>
	<article class="blog-synced">
		<h2 class="blog-synced__title">Synced at:</h2>
		<time datetime="{{.SyncedAt}}">{{.SyncedAt.Format "Jan 2, 2006 - 03:04:05PM"}}</time>
	</article>
	<article class="blog-actions">
		<h2 class="blog-actions__title">Actions</h2>
		<form method="POST" action="/blogs/{{.ID}}/delete">
			<input type="hidden" name="blogID" value={{.ID}} />
			<button class="blog-actions__button" type="submit">
				Delete
			</button>
		</form>
	</article>
	<article class="blog-posts">
		<h2 class="blog-posts__title">{{len .Posts}} Posts</h2>
		<ul class="blog-posts__list">
			{{range .Posts}}
			<li class="blog-post">
				<a class="blog-post__link" href="/blogs/{{.BlogID}}/posts/{{.ID}}">{{.Title}}</a>
				<time datetime=".PublishedAt">{{.PublishedAt.Format "Jan 2, 2006"}}</time>
			</li>
			{{end}}
		</ul>
	</article>
</section>

{{end}}
