{{define "main"}}

<section class="blogs">
	<header class="blogs-header">
		<h1 class="blogs-header__title">Blogs</h1>
		<form method="POST" action="/blogs/create">
			<input type="hidden" name="csrf_token" value="{{$.CSRFToken}}" />
			<input
				class="input blogs-header__input"
				type="text"
				name="feedURL"
				placeholder="Add Feed"
			/>
			<button class="button" type="submit">
				Add
			</button>
		</form>
	</header>
	<ul class="blogs-list" id="blogs">
		{{range .Blogs}}
		<li class="blogs-list__item">
			{{if $.Account.IsAdmin}}
			<a class="blogs-list__link" href="/blogs/{{.ID}}">{{.Title}}</a>
			{{else}}
			<a class="blogs-list__link" href="{{.SiteURL}}">{{.Title}}</a>
			{{end}}

			{{block "blog" .}}
			{{if .IsFollowing}}
			<form method="POST" action="/blogs/{{.ID}}/unfollow" hx-post="/blogs/{{.ID}}/unfollow">
				<input type="hidden" name="csrf_token" value="{{$.CSRFToken}}" />
				<button class="button button--outline" type="submit">
					Unfollow
				</button>
			</form>
			{{else}}
			<form method="POST" action="/blogs/{{.ID}}/follow" hx-post="/blogs/{{.ID}}/follow">
				<input type="hidden" name="csrf_token" value="{{$.CSRFToken}}" />
				<button class="button" type="submit">
					Follow
				</button>
			</form>
			{{end}}
			{{end}}
		</li>
		{{end}}
	</ul>
</section>

{{end}}
