{{define "main"}}

<section class="signin">
	<article class="signin__card">
		<h2 class="signin__heading">Welcome!</h2>

		<hr />

		{{if .EnableDebugAuth}}
		<form method="POST" action="/debug/signin">
			<input type="hidden" name="csrf_token" value="{{$.CSRFToken}}" />
			<button class="signin__button" type="submit">
				<img class="signin__icon" src="/img/bloggulus.png" />
				Sign in with Debug
			</button>
			{{with .Errors.google}}
			<p class="signin__error">{{.}}</p>
			{{end}}
		</form>
		{{end}}

		<a class="signin__button" href="/github/signin">
			<img class="signin__icon" src="/img/github.png" />
			Sign in with GitHub
		</a>
		{{with .Errors.github}}
		<p class="signin__error">{{.}}</p>
		{{end}}

		<a class="signin__button" href="/google/signin">
			<img class="signin__icon" src="/img/google.png" />
			Sign in with Google
		</a>
		{{with .Errors.google}}
		<p class="signin__error">{{.}}</p>
		{{end}}
	</article>
</section>

{{end}}
