{{define "main"}}

<div class="h-full flex items-center justify-center">
	<form method="POST" action="/signin" class="bg-white p-8 shadow rounded-md flex flex-col gap-6">
		<div>
			<label for="username" class="block text-sm font-medium">
				Username
			</label>
			<div class="mt-2">
				{{template "input" dict "Type" "text" "Name" "username" "Value" .Username "Placeholder" "Username"}}
				{{with .Errors.username}}
					<p class="text-red-500">{{.}}</p>
				{{end}}
			</div>
		</div>

		<div>
			<label for="password" class="block text-sm font-medium">
				Password
			</label>
			<div class="mt-2">
				{{template "input" dict "Type" "password" "Name" "password" "Placeholder" "Password"}}
				{{with .Errors.password}}
					<p class="text-red-500">{{.}}</p>
				{{end}}
			</div>
		</div>

		{{template "button" dict "Contents" "Sign In"}}
	</form>
</div>

{{end}}
