{{template "base" .}}

{{define "main"}}
<!-- new blog form -->
<form method="POST" action="/blogs">
	<div class="my-12 px-6 md:px-0">
		<section class="flex flex-col max-w-3xl mx-auto overflow-hidden bg-white rounded-lg shadow-lg md:flex-row md:h-48">
			<!-- description -->
			<div class="md:flex md:items-center md:justify-center md:w-1/2 md:bg-gray-700">
				<div class="px-6 py-6 md:px-8 md:py-0">
					<h2 class="text-lg font-bold text-gray-700 md:text-gray-100">Don't see your favorite blog?</h2>
					<p class="mt-2 text-sm text-gray-600 md:text-gray-400">Add it to Bloggulus by submitting a link to its Atom or RSS feed</p>
				</div>
			</div>

			<!-- input / button -->
			<div class="flex items-center justify-center pb-6 md:py-0 md:w-1/2">
				<div class="flex flex-row overflow-hidden border rounded-lg">
					<input class="px-6 py-3 text-gray-700 placeholder-gray-500 bg-white outline-none focus:placeholder-transparent" type="text" name="feed_url" placeholder="Atom or RSS Feed" aria-label="Atom or RSS Feed">
					<button class="px-4 py-3 text-sm font-medium tracking-wider text-gray-100 transition-colors duration-200 transform bg-gray-700 hover:bg-gray-600 focus:bg-gray-600 focus:outline-none" type="submit">SUBMIT</button>
				</div>
			</div>
		</section>
	</div>
</form>

<div class="max-w-3xl mx-auto flex justify-start items-center mb-6 px-6 md:px-0">
	<h1 class="text-xl font-bold text-gray-700 md:text-2xl">Available Blogs</h1>
</div>

<div class="px-6 md:px-0">
	{{range .Blogs}}
	<div class="max-w-3xl mx-auto bg-white overflow-hidden shadow-md rounded-lg mb-6 p-6">
		<div class="flex items-center space-x-4">
			<!-- title -->
			<div class="flex-grow">
				<a class="flex-grow text-2xl text-gray-700 font-bold hover:underline" href="{{.Blog.SiteURL}}">{{.Blog.Title}}</a>
			</div>

			<!-- controls: follow -->
			{{if .Followed}}
			<button type="button" class="flex-none text-white p-2 bg-gray-400 rounded cursor-default focus:outline-none">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
					<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
				</svg>
			</button>
			{{else}}
			<form method="POST" action="/follow">
				<input type="hidden" id="blog_id" name="blog_id" value="{{.Blog.BlogID}}" />
				<button type="submit" class="flex-none text-white p-2 bg-green-400 rounded hover:bg-green-500 focus:outline-none">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
					</svg>
				</button>
			</form>
			{{end}}

			<!-- controls: unfollow -->
			{{if .Followed}}
			<form method="POST" action="/unfollow">
				<input type="hidden" id="blog_id" name="blog_id" value="{{.Blog.BlogID}}" />
				<button type="submit" class="flex-none text-white p-2 bg-red-400 rounded hover:bg-red-500 focus:outline-none">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
					</svg>
				</button>
			</form>
			{{else}}
			<button type="button" class="flex-none text-white p-2 bg-gray-400 rounded cursor-default focus:outline-none">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
					<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
				</svg>
			</button>
			{{end}}
		</div>
	</div>
	{{end}}
</div>
{{end}}
