<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bloggulus - A website for avid blog readers</title>

	<meta charset="utf-8" />
	<meta name="description" content="Bloggulus - A website for avid blog readers" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
</head>

<body>
	<rapi-doc spec-url="/static/etc/openapi.yaml"></rapi-doc>
</body>

</html>
