{% extends "core/base.html" %}

{% block main %}
	{% if latest_posts %}
		<section class="container mx-auto">
		{% for post in latest_posts %}
			<div class="bg-white rounded shodow border p-6 my-4">
				<a class="text=3xl font-bold mb-4 mt-0" href="{{ post.url }}">{{ post.title }}</a>
				<p class="text-gray-700 text-sm">{{ post.feed }}</p>
			</div>
		{% endfor %}
		</section>
	{% else %}
		<section>
			<blockquote>
				"No recent posts."
				<footer><i>- PostgreSQL</i></footer>
			</blockquote>
		</section>
	{% endif %}
{% endblock %}
