<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="icon" href="https://via.placeholder.com/70x70">
	<link rel="stylesheet" href="{{ url_for('static', filename='minireset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='mvp.css') }}">

	<meta charset="utf-8">
	<meta name="description" content="Blog / RSS feed aggregator">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Bloggulus</title>
</head>

<body>
	<hr>
	<section>
		<header>
			<h2>Section Heading</h2>
			<p>Section Subheading</p>
		</header>
		<aside>
			<h3>Card heading</h3>
			<p>Card content*</p>
			<p><small>*with small content</small></p>
		</aside>
		<aside>
			<h3>Card heading</h3>
			<p>Card content <sup>with notification</sup></p>
		</aside>
		<aside>
			<h3>Card heading</h3>
			<p>Card content</p>
		</aside>
	</section>
</body>

</html>
