<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bloggulus - A website for avid blog readers</title>

	<meta charset="utf-8" />
	<meta name="description" content="Bloggulus - A website for avid blog readers" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/fonts.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<script src="/js/htmx.min.js" defer></script>
</head>

<body class="sans-serif">
	<header class="header">
		<nav>
			<ul class="header-links">
				<li><a class="header-link header-link-home" href="/">Bloggulus</a></li>
			</ul>
		</nav>
	</header>

	{{with .Toast}}
	<div class="toast">
		<div>{{.}}</div>
	</div>
	{{end}}

	<main>
		{{template "main" .}}
	</main>

	<footer class="footer">
		<nav>
			<ul class="footer-links">
				<li><a class="footer-link footer-link-home" href="/">Bloggulus</a></li>
				<li><a class="footer-link" href="https://shallowbrooksoftware.com">Shallow Brook Software</a></li>
			</ul>
		</nav>
	</footer>
</body>

</html>
