<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bloggulus - A website for avid blog readers</title>

	<meta charset="utf-8" />
	<meta name="description" content="Bloggulus - A website for avid blog readers" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/fonts.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<script src="/js/htmx.min.js" defer></script>
	{{with .PlausibleDataDomain}}
	<script src="https://plausible.io/js/script.js" data-domain="{{.}}" defer></script>
	{{end}}
	{{with .GoatCounterCode}}
	<script data-goatcounter="https://{{.}}.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
	{{end}}
</head>

<body class="sans-serif">
	<header class="header">
		<nav>
			<ul class="header__links">
				<li class="header__link--first"><a class="header__link header__link--home" href="/">Bloggulus</a></li>
				{{if .Account}}
				<li><a class="header__link" href="/blogs">Blogs</a></li>
				<li>
					<form action="/signout" method="post">
						<input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
						<button class="header__link" type="submit">Sign out</button>
					</form>
				</li>
				{{else}}
				<li><a class="header__link" href="/signin">Sign in</a></li>
				{{end}}
			</ul>
		</nav>
	</header>

	{{with .Toast}}
	<div class="toast">
		<div>{{.}}</div>
	</div>
	{{end}}

	<main>
		{{template "main" .}}
	</main>

	<footer class="footer">
		<nav>
			<ul class="footer__links">
				<li><a class="footer__link footer__link--big" href="/">Bloggulus</a></li>
				<li><a class="footer__link footer__link--small" href="/docs/privacy.html">Privacy Policy</a></li>
				<li><a class="footer__link" href="https://shallowbrooksoftware.com">Shallow Brook Software</a></li>
			</ul>
		</nav>
	</footer>
</body>

</html>
