{{template "base" .}}

{{define "title"}}About - {{end}}

{{define "main"}}
<h1 class="text-4xl">About</h1>
<div class="m-4 text-lg">
	<p>
		Bloggulus is a "meta blog" that aggregates numerous other blogs into a single location.
		I built this primarily for my own use.
		Previously, I had been using a Firefox extension (called Feeder) to track my blogs but I wanted something more personalized.
		Once an hour, an automated process checks each blog's RSS feed for new content.
		By default, the Bloggulus home page shows all recent posts with the newest being located at the top.
		All of the followed blogs feed into a single stream of posts.
	</p>
</div>

<h1 class="text-4xl">Followed Blogs</h1>
<div class="m-4">
	{{if .Blogs}}
		<ul>
		{{range .Blogs}}
			<li>
				<a class="text-lg text-orange-600 hover:text-orange-800" href="{{.SiteURL }}">{{.Title}}</a>
			</li>
		{{end}}
		</ul>
	{{else}}
		<p class="text-lg">No current blogs!</p>
	{{end}}
</div>
{{end}}
