{{template "base" .}}

{{define "main"}}
<div class="container mx-auto">
	<div class="text-center mt-12 md:mt-24">
		<h2 class="text-4xl text-gray-700 font-bold">Read, Follow, and Share</h2>
		<p class="text-gray-600 mt-4">Follow your favorite blogs and share them with others</p>
	</div>
	<div class="flex flex-col justify-center items-center md:flex-row mb-8 mt-8 md:mt-16">
		<div class="max-w-sm m-2 p-4 rounded-lg bg-white shadow-lg">
			<img class="mx-auto w-48 h-48" alt="Read" src="/static/img/read.png">
			<h3 class="text-lg font-bold text-gray-700">Read</h3>
			<p class="text-md text-gray-600">Read your favorite blogs and get notified when new posts are released.</p>
		</div>
		<div class="max-w-sm m-2 p-4 rounded-lg bg-white shadow-lg">
			<img class="mx-auto w-48 h-48" alt="Follow" src="/static/img/follow.png">
			<h3 class="text-lg font-bold text-gray-700">Follow</h3>
			<p class="text-md text-gray-600">Follow other readers to see what they are up to and discover new blogs.</p>
		</div>
		<div class="max-w-sm m-2 p-4 rounded-lg bg-white shadow-lg">
			<img class="mx-auto w-48 h-48" alt="Share" src="/static/img/share.png">
			<h3 class="text-lg font-bold text-gray-700">Share</h3>
			<p class="text-md text-gray-600">Share and recommend your favorite blogs with friends and other readers.</p>
		</div>
	</div>
</div>
{{end}}
