{{define "base"}}
<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700">
	<style>
		.font {
			font-family: 'Source Sans Pro', sans-serif;
		}
	</style>
	<title>{{template "title" .}}Bloggulus</title>
</head>

<body class="min-h-screen bg-orange-100 flex flex-col container mx-auto leading-normal tracking-normal font">
	<!-- nav bar -->
	<header class="flex flex-col md:flex-row md:justify-between items-center border-b-4 border-black py-4 px-6">
		<a href="/" class="font-bold text-3xl mb-4 md:mb-0">Bloggulus</a>
	</header>

	<!-- main content -->
	<main class="flex-grow p-8">
		{{template "main" .}}
	</main>

	<!-- footer -->
	<footer class="text-gray-600 text-md text-center p-4">
		<span class="mx-2">&copy; 2021 Shallow Brook Software</span>
		&bull;
		<a class="mx-2 hover:text-gray-800" href="/about">About</a>
	</footer>
</body>

</html>
{{end}}
