<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700">
	<style>
		.font {
			font-family: 'Source Sans Pro', sans-serif;
		}
	</style>
	<title>{% block title %}{% endblock %}Bloggulus</title>
</head>

<body class="min-h-screen bg-orange-100 flex flex-col container mx-auto leading-normal tracking-normal font">

	<!-- nav bar -->
	<header class="flex flex-col md:flex-row md:justify-between items-center border-b-4 border-black py-4 px-6">
		<a href="{{ url_for('index') }}" class="font-bold text-3xl mb-4 md:mb-0">Bloggulus</a>
		<form action="{{ url_for('index') }}" method="GET">
			<input class="bg-gray-200 text-gray-700 py-2 pl-3 border-black border-2 rounded focus:outline-none" type="text" name="q" value="{{ search }}" />
			<button class="bg-orange-300 hover:bg-orange-400 font-semibold border-black border-2 rounded py-2 px-4 transition duration-200" type="submit">Search</button>
		</form>
	</header>

	<!-- main content -->
	<main class="flex-grow p-8">
		{% block main %}{% endblock %}
	</main>

	<!-- footer -->
	<footer class="text-gray-600 text-md text-center p-4">
		<span class="mx-2">&copy; 2020 Shallow Brook Software</span>
		&bull;
		<a class="mx-2 hover:text-gray-800" href="{{ url_for('about') }}">About</a>
	</footer>

	<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
