{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bloggulus - A community for bloggers and readers</title>

	<meta charset="utf-8" />
	<meta name="description" content="Bloggulus - A community for bloggers and readers" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="icon" href="/static/img/bloggulus_logo.png" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700" />
	<link rel="stylesheet" href="/static/css/minireset.css" />
	<link rel="stylesheet" href="/static/css/bloggulus.css" />
</head>

<body>
	<header>
		<nav>
			<a class="nav-logo" href="/"><img alt="Bloggulus Logo" src="/static/img/bloggulus_wide.png" /></a>
			<div class="nav-search">
				<form method="GET" action="/search">
					<input type="text" name="q" />
				</form>
			</div>
			<div class="nav-login-logout">
				{{if .Authed}}
				<form method="POST" action="/logout">
					<button type="submit">Logout</button>
				</form>
				{{else}}
				<a href="/login">Login</a>
				{{end}}
			</div>
		</nav>
	</header>
	<main>
		{{template "main" .}}
	</main>
	<footer>
		<p>
			Read the source on <a href="https://github.com/theandrew168/bloggulus" target="_blank">GitHub &nearr;</a><br>
		</p>
	</footer>
</body>

</html>
{{end}}
