{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bloggulus - A community for bloggers and readers</title>

	<meta charset="utf-8" />
	<meta name="description" content="Bloggulus - A community for bloggers and readers" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="icon" href="/static/img/bloggulus_logo.png" />
	<link rel="stylesheet" href="/static/css/tailwind.min.css" />
	<script src="/static/js/alpine.min.js" defer></script>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
		.font-family-karla { font-family: karla; }
	</style>
</head>

<body class="bg-gray-100 font-family-karla flex flex-col min-h-screen">

	<!-- nav bar -->
	<nav class="bg-white shadow">
		<div x-data="{ isOpen: false }" class="max-w-3xl mx-auto py-3 px-6 md:px-0 md:flex md:justify-between md:items-center">
			<div class="flex justify-between items-center">

				<!-- brand -->
				<a class="text-gray-800 text-xl md:text-2xl hover:text-gray-600" href="/">Bloggulus</a>

				<!-- mobile menu button -->
				<div class="flex md:hidden">
					<button 
						type="button" 
						class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600" 
						aria-label="toggle menu"
						@click="isOpen = !isOpen"
					>
						<svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
							<path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
						</svg>
					</button>
				</div>
			</div>

			<!-- menu -->
			<div :class="isOpen ? 'show' : 'hidden'" class="md:flex items-center md:block mt-4 md:mt-0">
				<div class="flex flex-col md:flex-row md:ml-6">
					{{if .Authed}}
					<a class="my-1 text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="/blogs">Blogs</a>
					<form method="POST" action="/logout">
						<button class="my-1 text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" type="submit">Logout</button>
					</form>
					{{else}}
					<a class="my-1 text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="/login">Login</a>
					{{end}}
				</div>
			</div>

		</div>
	</nav>

	<!-- success flash message -->
	{{with .Success}}
	<div class="mt-6 flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md">
		<div class="flex items-center justify-center w-12 bg-green-500">
			<svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
				<path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"/>
			</svg>
		</div>

		<div class="px-4 py-2 -mx-3">
			<div class="mx-3">
				<span class="font-semibold text-green-500">Success</span>
				<p class="text-sm text-gray-600">{{.}}</p>
			</div>
		</div>
	</div>
	{{end}}

	<!-- error flash message -->
	{{with .Error}}
	<div class="mt-6 flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md">
		<div class="flex items-center justify-center w-12 bg-red-500">
			<svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
				<path d="M20 3.36667C10.8167 3.36667 3.3667 10.8167 3.3667 20C3.3667 29.1833 10.8167 36.6333 20 36.6333C29.1834 36.6333 36.6334 29.1833 36.6334 20C36.6334 10.8167 29.1834 3.36667 20 3.36667ZM19.1334 33.3333V22.9H13.3334L21.6667 6.66667V17.1H27.25L19.1334 33.3333Z"/>
			</svg>
		</div>

		<div class="px-4 py-2 -mx-3">
			<div class="mx-3">
				<span class="font-semibold text-red-500">Error</span>
				<p class="text-sm text-gray-600">{{.}}</p>
			</div>
		</div>
	</div>
	{{end}}

	<!-- main content -->
	<main class="flex-grow">
		{{template "main" .}}
	</main>

	<!-- footer -->
	<footer class="text-gray-100 bg-gray-800">
		<div class="max-w-3xl mx-auto py-4">
			<div class="flex flex-col items-center justify-between md:flex-row space-y-1 md:space-y-0">
				<a class="text-xl font-bold text-gray-100 hover:text-gray-400" href="/">Bloggulus</a>
				<a class="text-gray-100 hover:text-gray-400" href="https://shallowbrooksoftware.com">Shallow Brook Software</a>
			</div>
		</div>
	</footer>

</body>

</html>
{{end}}
