{{template "base" .}}

{{define "main"}}
<div class="container mx-auto">
	<div class="mt-8 md:mt-16">
	{{if .Authed}}
		<h1 class="mb-8 text-center text-2xl font-bold text-gray-700">
			Followed Blogs
		</h1>
		{{range .Blogs}}
		<p class="mx-6 mt-2">
			<a class="text-blue-700 hover:underline" href="{{.SiteURL}}">{{.Title}}</a>
		</p>
		{{end}}
	{{else}}
		<h1 class="mb-8 text-center text-2xl font-bold text-gray-700">
			Available Blogs
		</h1>
		{{range .Blogs}}
		<p class="mx-6 mt-2">
			<a class="text-blue-700 hover:underline" href="{{.SiteURL}}">{{.Title}}</a>
		</p>
		{{end}}
	{{end}}
	</div>
</div>
{{end}}
