{{template "base" .}}

{{define "main"}}
	<header>
		<h1>Recent Posts</h1>
	</header>
	{{range .Posts}}
		<h2><a href="{{.URL}}">{{.Title}}</a></h2>
		<p>{{.BlogTitle}}</p>
		<p><small>{{.Updated}}</small></p>
		<hr>
	{{end}}
{{end}}
