{{template "base" .}}

{{define "main"}}
	<section>
		<form method="POST" action="/login">
			<header>
				<h2>Login</h2>
			</header>
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" autofocus>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password">
			<button type="submit">Login</button>
			<br>
			<br>
			<a href="/register">Need an account?</a>
		</form>
	</section>
{{end}}
