{{template "base" .}}

{{define "main"}}
	<section>
		<form method="POST" action="/register">
			<header>
				<h2>Register</h2>
			</header>
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" autofocus>
			<label for="password1">Password:</label>
			<input type="password" id="password1" name="password1">
			<label for="password2">Password (again):</label>
			<input type="password" id="password2" name="password2">
			<button type="submit">Register</button>
		</form>
	</section>
{{end}}
