{% extends "core/base.html" %}
{% load static %}

{% block main %}
	<div class="max-w-lg mx-auto bg-white border-black border-4 mt-16 p-8 rounded-lg">

		<section>
			<h3 class="font-bold text-2xl">Welcome to Bloggulus</h3>
			<p class="text-gray-700 pt-2">Sign in to your account.</p>
		</section>

		<section class="mt-10">
			<form class="flex flex-col" method="post" action="{% url 'core:login' %}">
				{% csrf_token %}

				{% for error in form.non_field_errors %}
				<div class="mb-6 p-4 border-2 border-red-800 rounded-lg bg-red-400">
					<p class="text-white text-md">{{ error }}</p>
				</div>
				{% endfor %}

				{% for error in form.username.errors %}
					<p class="m-2 text-red-700 text-sm">{{ error }}</p>
				{% endfor %}
				<div class="mb-6 pt-3 rounded border-2 bg-gray-200 {% if form.username.errors %} border-red-700 {% else %} border-black {% endif %}">
					<label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
					<input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-orange-400 transition duration-500 px-3 pb-3">
				</div>

				{% for error in form.password.errors %}
					<p class="m-2 text-red-700 text-sm">{{ error }}</p>
				{% endfor %}
				<div class="mb-6 pt-3 rounded border-2 bg-gray-200 {% if form.password.errors %} border-red-700 {% else %} border-black {% endif %}">
					<label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
					<input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-orange-400 transition duration-500 px-3 pb-3">
				</div>

				<div class="flex justify-end">
					<a href="#" class="text-sm text-orange-400 hover:underline mb-6">Forgot your password?</a>
				</div>

				<button class="bg-orange-300 hover:bg-orange-400 font-bold py-2 rounded border-black border-2 transition duration-200" type="submit">Sign In</button>
				<input type="hidden" name="next" value="{{ next }}" />

			</form>
		</section>

	</div>

	<div class="max-w-lg mx-auto text-center mt-10">
		<p class="">Don't have an account? <a href="#" class="font-bold hover:underline">Sign up</a>.</p>
	</div>
{% endblock %}
