{% extends "core/base.html" %}
{% load static %}

{% block main %}

{% if posts %}
	<div class="flex flex-col">
	{% for post in posts %}
		<div class="border-2 border-black rounded p-4 my-2">
			<a class="text-lg text-orange-600 hover:text-orange-800" href="{{ post.url }}">{{ post.title }}</a>
			<p class="text-sm text-gray-700">{{ post.feed.title }} - {{ post.updated | date:"M j, Y" }}</p>
		</div>
	{% endfor %}
	</div>
{% else %}
	<h1 class="text-center text-lg">No recent posts!</h1>
{% endif %}
{% endblock %}
