{% extends "core/base.html" %}
{% load static %}

{% block main %}
	<div class="max-w-lg mx-auto bg-white border-black border-4 mt-16 p-8 rounded-lg">

		<section>
			<h3 class="font-bold text-2xl">Welcome to Bloggulus</h3>
			<p class="text-gray-700 pt-2">Create a new account.</p>
		</section>

		<section class="mt-10">
			<form class="flex flex-col" method="post" action="{% url 'core:register' %}">
				{% csrf_token %}

				{% for error in form.non_field_errors %}
				<div class="mb-6 p-4 border-2 border-red-800 rounded-lg bg-red-400">
					<p class="text-white text-md">{{ error }}</p>
				</div>
				{% endfor %}

				{% for error in form.username.errors %}
					<p class="m-2 text-red-700 text-sm">{{ error }}</p>
				{% endfor %}
				<div class="mb-6 pt-3 rounded border-2 bg-gray-200 {% if form.username.errors %} border-red-700 {% else %} border-black {% endif %}">
					<label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
					<input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value | default:'' }}" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-orange-400 transition duration-500 px-3 pb-3">
				</div>

				{% for error in form.password1.errors %}
					<p class="m-2 text-red-700 text-sm">{{ error }}</p>
				{% endfor %}
				<div class="mb-6 pt-3 rounded border-2 bg-gray-200 {% if form.password1.errors %} border-red-700 {% else %} border-black {% endif %}">
					<label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
					<input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" value="{{ form.password1.value | default:'' }}" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-orange-400 transition duration-500 px-3 pb-3">
				</div>

				{% for error in form.password2.errors %}
					<p class="m-2 text-red-700 text-sm">{{ error }}</p>
				{% endfor %}
				<div class="mb-6 pt-3 rounded border-2 bg-gray-200 {% if form.password2.errors %} border-red-700 {% else %} border-black {% endif %}">
					<label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
					<input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" value="{{ form.password2.value | default:'' }}" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-orange-400 transition duration-500 px-3 pb-3">
				</div>

				<button class="bg-orange-300 hover:bg-orange-400 font-bold py-2 rounded border-black border-2 transition duration-200" type="submit">Sign Up</button>

			</form>
		</section>

	</div>
{% endblock %}
