{{template "base" .}}

{{define "main"}}
<!-- posts heading -->
<div class="max-w-3xl mx-auto flex justify-start items-center my-6 px-6 md:px-0">
	<h1 class="text-xl font-bold text-gray-700 md:text-2xl">Recent Posts</h1>
</div>

<!-- posts -->
<div class="px-6 md:px-0">
	{{range .Posts}}
	<div class="max-w-3xl mx-auto bg-white overflow-hidden shadow-md rounded-lg mb-6 p-6">
		<!-- date and tags -->
		<div class="flex justify-between items-center mb-2">
			<span class="text-sm font-light text-gray-600">{{.Updated.Format "Jan 2, 2006"}}</span>
			<div class="flex items-center gap-x-2">
				{{range .Tags}}
				<a href="/?q={{.}}" class="text-sm font-bold px-3 py-1 bg-gray-600 text-gray-100 rounded hover:bg-gray-500">{{.}}</a>
				{{end}}
			</div>
		</div>

		<!-- post title -->
		<a href="{{.URL}}" class="text-2xl text-gray-700 font-bold hover:underline block mb-2">{{.Title}}</a>

		<!-- blog title -->
		<a href="{{.Blog.SiteURL}}" class="text-gray-700 font-bold hover:underline block">{{.Blog.Title}}</a>
	</div>
	{{end}}
</div>

<!-- pagination -->
{{if .MorePages}}
<div class="mx-auto mb-6 px-16 md:px-0 flex justify-center items-center gap-x-4">
	<a href="/?p={{.NextPage}}&q={{.Search}}" class="bg-white text-gray-700 font-bold shadow hover:shadow-md rounded px-6 py-2">See More</a>
</div>
{{end}}

{{end}}
